<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not found</title>
    <link rel="stylesheet" href="/css/reset.css"/>
    <link rel="stylesheet" href="/css/404.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="/vendor/fontawesome-free-5.11.2-web/css/all.min.css"
    />
</head>
<body>
    <section class="not_found">
        <span class="fas fa-exclamation-triangle"></span>
        <div>
            <h1 class="page_404">404</h1>
            <p>this page doesn't exist...</p>
        </div>
        <span class="fas fa-exclamation-triangle"></span>
    </section>
</body>
</html>