<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Numerology / API</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="/vendor/fontawesome-free-5.11.2-web/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <header class="header flex">
      <nav class="nav__bar">
        <ul class="flex">
          <li><a href="#top">Numerology API</a></li>
          <li><a href="#usage">Usage</a></li>
          <li><a href="#params">Parameters</a></li>
          <li><a href="#examples">Examples</a></li>
        </ul>
      </nav>
      <div class="hamb__menu">
        <i class="fas fa-bars"></i>
      </div>
    </header>
    <main>
      <section id="top" class="section">
        <h1>Numerology API</h1>
        <div class="intro flex">
          <p class="flex">
            <img src="/img/triangle.png" alt="logo"/>
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </section>
      <section id="usage" class="section">
        <h2>Usage</h2>
        <div class="flex-column">
          <div class="route">
            <h3>
              To calculate affinity based on your birthdates send a request to:
            </h3>
            <pre>https://numerology-mpm7.onrender.com/api/affinity?</pre>
          </div>
          <div class="route">
            <h3>To discover the meaning behind your name send a request to:</h3>
            <pre>https://numerology-mpm7.onrender.com/api/name-meaning?</pre>
          </div>
        </div>
      </section>
      <section id="params" class="section">
        <h2>Parameters</h2>
        <div class="flex-column">
          <div class="parameters">
            <h3>Affinity calculation</h3>
            <table>
              <thead>
                <tr>
                  <th>Parameter</th>
                  <th>Required</th>
                  <th>Valid options</th>
                  <th>Default value</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>her</td>
                  <td>Yes</td>
                  <td></td>
                  <td>&#60;empty&#62;</td>
                  <td>A valide date birth (format: DD-MM-YYYY)</td>
                </tr>
                <tr>
                  <td>him</td>
                  <td>Yes</td>
                  <td></td>
                  <td>&#60;empty&#62;</td>
                  <td>A valide date birth (format: DD-MM-YYYY)</td>
                </tr>
                <tr>
                  <td>lan</td>
                  <td>No</td>
                  <td>it, en</td>
                  <td>it</td>
                  <td>The desired language of the response</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="parameters">
            <h3>Name meaning</h3>
            <table>
              <thead>
                <tr>
                  <th>Parameter</th>
                  <th>Required</th>
                  <th>Valid options</th>
                  <th>Default value</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>name</td>
                  <td>Yes</td>
                  <td></td>
                  <td>&#60;empty&#62;</td>
                  <td>A string containing only alphabetic characters</td>
                </tr>
                <tr>
                  <td>lan</td>
                  <td>No</td>
                  <td>it, en</td>
                  <td>it</td>
                  <td>The desired language of the response</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
      <section id="examples" class="section">
        <h2>Examples</h2>
        <form id="affinity" class="flex-column">
          <legend class="margin">Affinity calculation</legend>
          <div class="flex-column margin">
            <div class="inputs flex">
              <p class="input flex">
                <label for="her">Her:</label>
                <input
                  data-route="affinity"
                  type="text"
                  id="her"
                  name="her"
                  autocomplete="off"
                />
              </p>
              <p class="input flex">
                <label for="him">Him:</label>
                <input
                  data-route="affinity"
                  type="text"
                  id="him"
                  name="him"
                  autocomplete="off"
                />
              </p>
              <p class="input flex">
                <label for="lan">Language:</label>
                <input
                  data-route="affinity"
                  type="text"
                  id="lan"
                  name="lan"
                  autocomplete="off"
                />
              </p>
            </div>
            <div class="buttons flex">
              <button type="submit">Search</button>
              <button data-route="affinity" type="button">Reset</button>
            </div>
          </div>
          <div class="request hide"></div>
          <div class="response hide"></div>
        </form>
        <form id="name-meaning" class="flex-column">
          <legend class="margin">Name meaning calculation</legend>
          <div class="flex-column margin">
            <div class="inputs flex">
              <p class="input flex">
                <label for="name">Name:</label>
                <input
                  data-route="name-meaning"
                  type="text"
                  id="name"
                  name="name"
                  autocomplete="off"
                />
              </p>
              <p class="input flex">
                <label for="lan">Language:</label>
                <input
                  data-route="name-meaning"
                  type="text"
                  id="lan_name"
                  name="lan"
                  autocomplete="off"
                />
              </p>
            </div>
            <div class="buttons flex">
              <button type="submit">Search</button>
              <button data-route="name-meaning" type="button">Reset</button>
            </div>
          </div>
          <div class="request hide"></div>
          <div class="response hide"></div>
        </form>
      </section>
    </main>
    <footer class="footer"></footer>
    <script type="module" src="/javascript/script.js"></script>
  </body>
</html>
