<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Numerology / API</title>
    <link rel="stylesheet" href="/css/reset.css"/>
    <link rel="stylesheet" href="/css/index.css"/>
</head>
<body>
    <header class="header">
        <nav class="nav">
            <ul>
                <a href="#top"><li>Numerology API</li></a>
                <a href="#usage"><li>Usage</li></a>
                <a href="#params"><li>Parameters</li></a>
                <a href="#example"><li>Example</li></a>
            </ul>
        </nav>
    </header>
</body>
</html>