<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Numerology / API</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <header class="header">
      <nav class="nav__bar">
        <ul>
          <li><a href="#top">Numerology API</a></li>
          <li><a href="#usage">Usage</a></li>
          <li><a href="#params">Parameters</a></li>
          <li><a href="#example">Example</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section id="top" class="section"><h1>Numerology</h1></section>
      <section id="usage" class="section"><h2>Usage</h2></section>
      <section id="params" class="section"><h2>Parameters</h2></section>
      <section id="example" class="section"><h2>Example</h2></section>
      <section class="section"></section>
    </main>
    <script src="/javascript/jquery.js"></script>
    <script src="/javascript/main.js"></script>
  </body>
</html>
