.header {
    padding: 0px 60px;
    background-color: #333;
    display: flex;
    align-items: center;
}

.nav ul {
    display: flex;
}

.nav ul li {
    color: #fff;
    list-style: none;
    padding: 20px 15px;

}

.nav ul li:hover  {
    background-color: #161616;
}

a {
    text-decoration: none;
}