.header {
    height: 60px;
    padding: 5px 60px;
    background-color: #333;
    display: flex;
    align-items: center;
}

.nav ul {
    display: flex;
    gap: 30px;
}

.nav ul li {
    color: #fff;
    list-style: none;
    background-color: #504242;
}

a {
    text-decoration: none;
}