.intro.flex {
  gap: 50px;
  align-items: stretch;
}

.intro div:nth-child(1) {
  line-height: 1.4rem;
  width: 75%;
}

.intro div:nth-child(2) {
  display: flex;
  align-content: flex-start;
  width: 25%;
}

img {
  width: 100%;
  display: block;
}