@media screen and (max-width: 1066px) {
  .header,
  .section {
    padding: 0 50px;
  }

  table {
    font-size: 0.9rem;
  }

  th,
  td {
    padding: 12px 8px;
  }
}

@media screen and (max-width: 820px) {
  .header,
  .section {
    padding: 0 20px;
  }
}

@media screen and (max-width: 820px) {
  .header,
  .section {
    padding: 0 10px;
  }

  h1,
  h2 {
    font-size: 3rem;
  }

  h3, pre {
    font-size: .9rem;
  }

  table {
    font-size: 0.8rem;
  }

  th,
  td {
    padding: 10px 6px;
  }

  #examples form legend {
    font-size: 1rem;
  }

  .input label {
    font-size: 1rem;
  }


}
